* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
}

.header{
    height: 72px;
    width: 100%;
}

.nav{
    height: 72px;
    position: fixed;
    width: 100vw;
    box-shadow: 0 0 10px #001910;
    background-color: #005449;
    color: white;
}

.nav__list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
    margin: 0 2rem;
}

.nav__listlogo{
    list-style: none;
    margin-right: auto;
    cursor: pointer;

}

.nav__listlogo svg{
    width: 2.5rem;
    transition: fill 250ms ease-in;
    fill: white;
}

.nav__listlogo svg:hover, :focus{
    fill: #fffaca;
}

.nav__listitem{
    list-style: none;
    font-weight: bold;
    position: relative;
    padding: 1.5rem 1rem;
    cursor: pointer;
}

.nav__listitem:hover ul, .nav__listitem:focus ul {
    opacity: 1;
    visibility: visible;
}

.nav__listitem::after {
    content: '';
    width: 0%;
    height: 0.3rem;
    border-radius: 0.2rem;
    position: absolute;
    left: 1rem;
    bottom: 0.8rem;
    background-color: #fffaca;
    transition: width 300ms ease-in-out;
}

.nav__listitem:hover::after, .nav__listitem:focus::after {
    width: 80%;
}

.nav__listitemdrop{
    position: absolute;
    top: 4rem;
    left: -1rem;
    box-shadow: 0 0 10px #001910;
    background-color: white;
    border-radius: 0.2rem;
    width: 13rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease-in-out;
    color: black;
}

.nav__listitemdrop li {
    list-style: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: background-color 200ms ease-in-out;
}

.nav__listitemdrop li:hover, .nav__listitemdrop li:focus {
    background-color: #fffaca95;
}