body.hidden-scrolling{
	overflow-y: hidden;
}
*{
	margin:0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
ul{
	list-style: none;
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}

.wrapper {
	max-width: 1140px;
	margin: 0 auto;
	padding-left: 2rem;
	padding-right: 2rem;
}

/*hero section Start*/
.hero-section{
	left:0;
	top:0;
	line-height: 1.5;
	font-weight: bold;
}

.hero-container {
	padding-top: 30vh;
	padding-bottom: 30vh;
	width: 100%;
	font-size: 2rem;
}

.glance-container {
	background-color: #fffaca;
}

.glance-div1:first-child {
	font-size: 1.5rem;
}

.glance-div1 h3 {
	font-size: 0.9rem;
	font-weight: 500;
}

.glance-div1 p {
	font-size: 1.2rem;
}

/*hero section End*/
/*second section Start*/
#second-section-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#third-section-grid {
	display: grid;
	grid-template-columns: 1fr;
}

.second-section-container {
	padding-top: 5rem;
}

.section-title {
	text-align: center;
	padding-bottom: 4rem;
	font-size: 1.5rem;
}

.second-section-2nddiv-item {
	padding: 1rem 0;
	max-width: 22rem;
	margin: 0 auto;
}

.second-section-1stdiv {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	text-align: center;
}
/*second section End*/

/*fourth section Start*/
.fourth-section-container {
	padding-top: 5rem;
}

.fourth-section-row-title {
	font-size: 3.5rem;
	font-weight: bold;
	background-color: #003554;
	color: white;
	padding-left: 2rem;
	padding-right: 2rem;
	height: 100%;
	display: flex;
	align-items: center;
	line-height: 5.5rem;
}

.fourth-section-row-item {
	display: flex;
	flex-direction: column;
}

.fourth-section-row-item1 {
	font-size: 4rem;
	color: #003554;
	font-weight: bold;
}

.fourth-section-row-item2 {
	font-size: 3rem;
	color: #003554;
	font-weight: bold;
	padding: 1rem 0;
}

/*fourth section End*/
@media screen and (min-width: 992px)
{
	/*hero section Start*/
	.glance-divs {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		align-content: center;
		height: 7rem;
	}
	.glance-div1:nth-child(2) {
		display: flex;
		justify-content: space-between;
		column-gap: 3.5rem;
	}

	.third-section-2nddiv {
		display: flex;
		gap: 2rem;
	}
	/*hero section End*/
	
	#third-section-1stdiv-item {
		padding-bottom: 3rem;
	}
	/*Fourth section Start*/
	.fourth-section-row {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 70vh;
		align-items: center;
	}
	/*Fourth section End*/
}

@media screen and (max-width: 991px) {
	/*hero section Start*/
	.glance-divs {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	.glance-div1:nth-child(2) {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		column-gap: 3.5rem;
	}

	.glance-item {
		padding: 0.5rem 0;
	}
	/*hero section End*/
	/*second section Start*/
	#second-section-grid {
		grid-template-columns: 1fr;
	}

	.second-section-2nddiv-item:first-child {
		margin-top: 2.5rem;
	}
	/*second section End*/

	/*Fourth section Start*/

	.fourth-section-row {
		display: grid;
		grid-template-columns: 1fr;
	}

	/*Fourth section End*/
}